{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1 class="mb-4">Ку, я автор проекта Yatube!</h1>
    
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Немного обо мне</h5>
        <p class="card-text">
          Меня не зовут, я так прихожу. Я начинающий разработчик, который создаёт этот проект в рамках обучения (Yatube даже близко не замена Youtube, бегите!).
        </p>
      </div>
    </div>
    
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Мой путь в программирование</h5>
        <p class="card-text">
          У самурая нет цели, есть только путь (я искал короткий, но свернул не туда)
        </p>
      </div>
    </div>
    
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Где найти мой след</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="https://github.com/Isch-ka" target="_blank">GitHub</a>
          </li>
          <li class="list-group-item">
            <a href="t.me/Isch_ka" target="_blank">Telegram</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="alert alert-info">
      <i class="bi bi-chat-dots-fill me-2"></i>
      P.S. В создании этого проекта мне помогали мои верные друзья - сила воли, сила духа, усидчивость, терпение, лень, голод, юмор... Как правило, последние трое довольно часто выпихивали остальных.
    </div>
  </div>
</div>
{% endblock %}